body {
  font-family: var(--kr-general-font);
}

.section {
  padding-bottom: 8px;
  color: #ffffffd9;
  margin: 2px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin: 4px;
}

h1 {
  margin: 0;
  font-size: large;
  flex-grow: 1;
}

.options .kr-switch-container {
  padding: 0;
}

.options .kr-switch-label {
  margin: 4px;
}

.list {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  grid-gap: 4px;
  grid-auto-flow: dense;
  justify-content: start;
  grid-auto-rows: 43px;
}

.list > div {
  --color: rgb(182 182 182);
  --dark-color: rgb(81 81 81);

  position: relative;
  border-radius: var(--kr-border-radius);
  overflow: hidden;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 2px;
  grid-row: span 2;
  background-color: var(--dark-color);
  background-position: center;
  background-size: cover;
  border: 1px solid var(--color);
}

.list > div::after {
  content: '';
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: inset 0 0 10px var(--color);
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: opacity calc(var(--kr-animation-duration) / 2) ease-out;
  transition-delay: calc(var(--kr-animation-duration) / 2);
}

.list > div:hover::after {
  opacity: 1;
  transition-delay: 0s;
}

.list > div:active {
  transform: scale(0.95);
}

.list > div > img {
  pointer-events: none;
  height: 48px;
  max-width: 48px;
}

/* noinspection Stylelint */
.list > div > p {
  background-color: var(--dark-color);
  text-align: center;
  margin: 8px 0 4px;
  width: 84px;
  font-size: small;
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(to right, rgb(0 0 0 / 100%) 90%, rgb(0 0 0 / 0%));
}


.list > div > span {
  font-size: 48px;
  line-height: 1;
}

.list > .hidden {
  display: none;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.list .more {
  width: calc(100% - 84px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.list .more p {
  margin: 0;
  padding-left: 2px;
  font-size: small;
  text-overflow: clip;
  white-space: nowrap;
  background-color: var(--dark-color);
  -webkit-mask-image: linear-gradient(to right, rgb(0 0 0 / 100%) 90%, rgb(0 0 0 / 0%));
}

.list .more.box {
  flex-direction: row;
}

.list .more.box > div {
  min-width: 0;
  margin: 1px;
  border-radius: calc(var(--kr-border-radius) - 2px);
  background-size: cover;
  background-position: center;
  padding: 2px;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  flex-basis: 50%;
}

.list .line {
  flex-flow: row;
  grid-row: span 1;
  justify-content: flex-start;
}

.list .line span {
  font-size: 24px;
  margin: 4px;
}

.list .line p {
  flex-grow: 1;
  text-align: left;
  margin: 0;
}

.list .more p span {
  margin-right: 1px;
}

