html {
    --kr-animation-duration: 0ms;
}

body {
    margin: 0;
    background-color: black;
}

#background_image {
    --blur: 0;
    --brightness: 1;
    --contrast: 1;
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    will-change: background-image, transform, filter, opacity;
    transition: background-image, transform, filter, opacity;
    transition-duration: var(--kr-animation-duration);
    transition-delay: 0ms, calc(var(--kr-animation-duration) * 2), calc(var(--kr-animation-duration) * 2), calc(var(--kr-animation-duration) * 2);
    transition-timing-function: ease-out;
    animation-fill-mode: both;
    transform: scale(1);
    opacity: 1;
    filter:
        blur(var(--blur)) 
        brightness(var(--brightness))
        contrast(var(--contrast));
}

#background_image.hidden {
    transform: scale(1.1);
    opacity: 0;
}