.kr-w-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.kr-w {
    overflow: hidden;
    display: flex;
    height: 38px;
    border-top: 1px solid rgba(255, 255, 255, .4);
    flex-grow: 0;
    flex-shrink: 0;
}

.kr-dark .kr-w {
    border-top: 1px solid rgba(255, 255, 255, .2);
}

.kr-panelapp .kr-w {
    display: none;
}

.kr-w > img {
    width: 32px;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
    pointer-events: none;
}

.kr-w h1 {
    color: var(--kr-app-color-dark);
    font-size: var(--kr-title-font-size);
    font-weight: 100;
    margin: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: var(--kr-title-font);
    pointer-events: none;
    flex-shrink: 1;
    flex-grow: 1;
}

.kr-dark .kr-w h1 {
    color: var(--kr-app-color);
}

.kr-w-buttons {
    display: flex;
    margin: 4px 4px 4px 1px;
    z-index: 2;
    flex-shrink: 0;
    justify-content: flex-end;
}

.kr-adapt .kr-w-buttons {
    margin-left: var(--kr-top-area-width);
}

/*noinspection CssNonIntegerLengthInPixels*/
.kr-wb {
    background-color: rgba(255, 255, 255, .5);
    opacity: .7;
    border: 1px solid var(--kr-app-color-dark);
    width: 28px;
    height: 28px;
    margin-left: 2px;
    display: flex;
}

.kr-dark .kr-wb {
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid var(--kr-app-color);
}

.kr-wb > span {
    color: var(--kr-app-color-dark);
    font-size: 24px;
    width: 23px;
    margin: auto;
    pointer-events: none;
    line-height: 1.2;
}

.kr-dark .kr-wb > span {
    color: var(--kr-app-color);
}

.kr-wb:hover,
.kr-wb:focus-visible {
    background-color: rgba(255, 255, 255, .7);
    opacity: 1;
}

.kr-wb:active {
    background-color: rgba(200, 200, 200, .5);
}

.kr-dark .kr-wb:hover {
    background-color: rgba(0, 0, 0, .7);
    opacity: 1;
}

.kr-dark .kr-wb:active {
    background-color: rgba(0, 0, 0, 1) !important;
}

.kr-wb > .mdi-square-outline {
    font-size: 21px;
    width: 20px;
    height: 20px;
    line-height: 1;
}

.kr-appmenus {
    display: flex;
    overflow: auto;
    flex-grow: 100;
}

.kr-appmenu-item {
    width: 32px;
    height: 32px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.kr-appmenu-item:hover,
.kr-appmenu-item:focus-visible {
    background-color: rgba(255, 255, 255, .3);
}

.kr-appmenu-item:active {
    background-color: rgba(0, 0, 0, .3);
}

.kr-appmenu-item span {
    pointer-events: none;
    color: var(--kr-app-color-dark);
    font-size: 16px;
    width: 16px;
    height: 16px;
}

.kr-dark .kr-appmenu-item span {
    color: var(--kr-app-color);
}