#container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
}

.kr-tab-content {
    height: 100%;
    width: 100%;
}

.kr-tab-content iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.kr-tab span {
    margin: 2px;
}

#container fieldset {
    margin: 4px;
}

.hidden {
    display: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grow {
    display: flex;
    flex-grow: 1;
}

.full-width {
    width: 100%;
}

.larger-text {
    font-size: larger;
}

.width50 {
    width: 50%;
}

#network {
    overflow: hidden;
}

#network .kr-tab-contents,
#appearance .kr-tab-contents {
    height: calc(100% - 50px);
}

#connected {
    color: var(--kr-app-color-dark);
}

.wifiicon {
    margin-right: 8px;
    margin-left: 3px;
    font-size: 18px;
}

.wifiavailable {
    text-align: left;
    padding-left: 0 !important;
    font-weight: normal !important;
    display: flex;
    align-items: center;
}

#data-list,
#wallpaper-list {
    margin: 5px;
    width: calc(100% - 10px);
}

.source-buttons, #image-menus {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 3px;
    gap: 3px;
}

.source-buttons > button {
    flex-grow: 1;
}

#image-menus select {
    flex-grow: 1;
    flex-basis: 0;
}

#wp-image-settings {
    height: 68px;
    overflow: hidden;
    transition: height var(--kr-animation-duration) cubic-bezier(0.22, 0.61, 0.36, 1);
}

#wp-image-settings.expand {
    height: 314px;
}

#wallpaper-more {
    font-size: 24px;
}

#wallpaper-more > span::before {
    transition: transform var(--kr-animation-duration) cubic-bezier(0.22, 0.61, 0.36, 1);
}


#wallpaper-more.rotate > span::before {
    transform: rotate(180deg);
}

.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-gap: 3px;
}

.image-list > div {
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    border-radius: var(--kr-border-radius);
    cursor: pointer;
    max-width: 200px;
}

.image-list > .selected {
    border: 5px solid var(--kr-app-color-dark);
    cursor: default;
}

#filters > div {
    display: flex;
    align-items: center;
    margin: 3px;
}

#filters > div > span {
    flex-grow: 1;
}

#filters > div > input[type="range"] {
    width: 50%;
}

#fonts select {
    width: 160px;
}

#fonts input {
    width: 40px;
}

.kr-tab-content {
    max-width: 650px;
}

.drag-size > div > .mdi {
    margin-right: 8px;
    margin-left: 3px;
    font-size: 24px;
}

.kr-panelapp .kr-tabs {
    margin: 2px;
    padding: 2px;
}
